name: Node.js CI

on:
  push:
    branches: 
      - master

jobs:
  calculate-build-vars:
    name: Calculate build vars

    runs-on: ubuntu-latest

    env:
      CI: true

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Calculate alpha
        run: |
          readonly local A_CHANGED=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep alpha)
          if [[ "$A_CHANGED" == "" ]]; then
            echo "A_CHANGED=false" >> build-env
          else
            echo "A_CHANGED=true" >> build-env
          fi
      - name: Calculate beta
        run: |
          readonly local B_CHANGED=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep beta)
          if [[ "$B_CHANGED" == "" ]]; then
            echo "B_CHANGED=false" >> build-env
          else
            echo "B_CHANGED=true" >> build-env
          fi
      - name: Calculate gama
        run: |
          readonly local G_CHANGED=$(git diff-tree --no-commit-id --name-only -r ${{ github.sha }} | grep gama)
          if [[ "$G_CHANGED" == "" ]]; then
            echo "G_CHANGED=false" >> build-env
          else
            echo "G_CHANGED=true" >> build-env
          fi

      - uses: actions/upload-artifact@master
        with:
          name: build-env
          path: build-env

  build-alpha:
    name: Build alpha

    runs-on: ubuntu-latest

    env:
      CI: true

    needs: [calculate-build-vars]

    steps:
      - uses: actions/cache@v2
        id: cache
        with:
          path: alpha/dist
          key: ${{ hashFiles('alpha/**') }}

      - name: Check out code
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v2

      - name: Build
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mkdir -p alpha/dist
          cp alpha/file alpha/dist/

      - uses: actions/upload-artifact@master
        with:
          name: alpha
          path: alpha/dist

  build-beta:
    name: Build beta

    runs-on: ubuntu-latest

    env:
      CI: true

    needs: [calculate-build-vars, build-alpha]

    steps:
      - uses: actions/download-artifact@master
        with:
          name: build-env
          path: build-env

      - name: Update env
        run: |
          echo "::set-env name=B_CHANGED::$(cat build-env/build-env | grep B_CHANGED | sed 's/.*=//')"

      - name: Check out code
        if: env.B_CHANGED == 'true'
        uses: actions/checkout@v2

      - uses: actions/download-artifact@master
        if: env.B_CHANGED == 'true'
        with:
          name: alpha
          path: dist/alpha

      - name: Build
        if: env.B_CHANGED == 'true'
        run: |
          mkdir -p beta/dist
          cp beta/file-b beta/dist/

      - uses: actions/upload-artifact@master
        if: env.B_CHANGED == 'true'
        with:
          name: beta
          path: beta/dist

  build-gama:
    name: Build gama

    runs-on: ubuntu-latest

    env:
      CI: true

    needs: [calculate-build-vars, build-alpha]

    steps:
      - uses: actions/download-artifact@master
        with:
          name: build-env
          path: build-env

      - name: Update env
        run: |
          echo "::set-env name=G_CHANGED::$(cat build-env/build-env | grep G_CHANGED | sed 's/.*=//')"

      - name: Check out code
        if: env.G_CHANGED == 'true'
        uses: actions/checkout@v2

      - uses: actions/download-artifact@master
        if: env.G_CHANGED == 'true'
        with:
          name: alpha
          path: dist/alpha

      - name: Build
        if: env.G_CHANGED == 'true'
        run: |
          mkdir -p gama/dist
          cp gama/file-g gama/dist/

      - uses: actions/upload-artifact@master
        if: env.G_CHANGED == 'true'
        with:
          name: gama
          path: gama/dist
